.header {
  background-color: rgb(139, 67, 207);
  width: 95vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  /* padding: 0px; */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
